  .inputrect {
    height: 80px;
    width: 80px;
    background-color: #450101;
    display: block;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 82px 82px 82px 82px 82px 82px;
    font-size: 8.5px;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  textarea {
    margin-top: 20px;
    width: 490;
    height: 200;
    resize: none;
    color: white;
    opacity: 30%;
    font-size: 35px;
    opacity: 100%;
    background-color: #450101;
  }

  html,
  body {
    height: 100%;
    background-color:transparent;
  }

  html {
    display: table;
    margin: auto;
    background-color: cadetblue;
  }

  body {
    padding-top: 20px;
    display: table-cell;
    color: #450101;
  }
  div {
    font-size: larger;
  }

  .inst {
    text-align: center;
  }

  #video {
    padding:30px;
    background-color: #450101;
  }